.cont_inf {
  width: 518px;
  height: 180px;
  background-color: #D61A21;
  border-radius: 10px;
}

.con_zag {
  font-size: 36px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.time_work {
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

