.payk {
  width: 260px;
  height: 106px;
  background-color: #D61A21;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payk_text {
  font-size: 15px;
  color: white;
  padding-left: 10px;
}