* {
  font-family: 'Merriweather', serif;
}
.predl{
  width: 438px;
  height: 94px;
  background-color: #D61A21;
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}