.primer_title{
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}
.primer_photo1{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primer_photo2{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}