.one{
  font-size: 48px;
  color: #D61A21;
}
.one_text{
  font-size: 24px;
  color: black;
  margin-top: 20px;
}
.spisok1{
  display: flex;
  text-align: left;
  margin-left: 100px;
  margin-top: 15px;
}
.spisok{
  margin-top: 50px;
}
.spisok_text{
  font-size: 48px;
  margin-left: 100px;
  margin-top: 80px;
}
.texts{
  font-size: 36px;
  text-align: center;
  margin-top: 65px;
}