* {
  font-family: 'Merriweather', serif;
}
a{
  text-decoration: none;

}
.block18 {
  width: 100%;
  background-image: url('../images/fon.webp');
  height: 1550px;
  margin: 0px;
}
.fot{
  margin-top: -100px;
}