* {
  font-family: 'Merriweather', serif;
}
a{
  text-decoration: none;

}

.block20_1 {
  font-size: 48px;
text-align: center;
  padding-top: 135px;
}
.block20_2{
  font-size: 32px;
  text-align: center;
  padding-top: 30px;
}

.block20 {
  width: 100%;
  background-image: url('../images/fon.webp');
  height: 3800px;
  margin: 0px;
}
.formochka{
  display: flex;
  align-items: center;
  justify-content: center;
}