* {
  font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;

}

.razrab_text {
  font-size: 48px;
  padding-top: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block5 {
  width: 100%;
  background-image: url('../images/fon.webp');
  height: 3500px;
  margin: 0px;
}

.razrab_text2 {
  font-size: 32px;
  text-align: center;
  margin-top: 90px;
}

.razrab_text3 {
  font-size: 42px;
  text-align: center;
  margin-top: 15px;
}

.raz_text4_1 {
  font-size: 48px;
  color: #D61A21;

}

.raz_text4_2 {
  font-size: 48px;
  color: black;
}

.razrab_text4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
}

.razrab_text5_1 {
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: #D61A21;
}

.razrab_text5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-top: 65px;
}

.razrab_text6 {
  margin-top: 100px;
  width: 1080px;
  height: 218px;
  border: 3px solid #D61A21;
  border-radius: 10px;
  position: relative;
  margin-top: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.razrab_text6_1 {
  font-size: 32px;
  text-align: left;
  margin-left: 55px;
  text-align: center;
  margin-top: 20px;
}

.razrab_text6_2 {
  font-size: 28px;
  text-align: center;
  margin-top: 60px;

}

.cart1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cart_mal {
  gap: 20px;
  margin-top: -80px;
}
.card_big{
  margin-top: 70px;
  gap: 50px;
}
.str4_text1{
  font-size: 40px;
  text-align: center;
  margin-top: 100px;
}
.str4_text2{
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
}
.str4_sale{
  width: 164px;
  height: 84px;
  font-size: 48px;
  background-color: #D61A21;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.str4_text3{
  font-size: 16px;
  margin-left: 100px;
  margin-top: 50px;
}

@media (max-width: 1024px) {
 .raz_text4_1{
   font-size: 36px;
 }
  .raz_text4_2{
    font-size: 32px;
  }

}


