<div class="spisok">
    <div class="spisok1">
        <div class="one">@@one</div>
        <div class="one_text">@@one_text</div>
    </div>
    <div class="spisok1">
        <div class="one">@@two</div>
        <div class="one_text">@@two_text</div>
    </div>
    <div class="spisok1">
        <div class="one">@@three</div>
        <div class="one_text">@@three_text</div>
    </div>
    <div class="spisok1">
        <div class="one">@@four</div>
        <div class="one_text">@@four_text</div>
    </div>
    <div class="spisok1">
        <div class="one">@@five</div>
        <div class="one_text">@@five_text</div>
    </div>
</div>