<div class="manager-modal-overlay" id="managerModal">
    <div class="manager-modal-content">
        <button class="manager-modal-close" id="managerModalClose">&times;</button>
        <div class="manager-modal-body">
            <div class="manager-modal-photo">
                <img src="" alt="" id="modalPhoto">
            </div>

            <div class="manager-modal-info">
                <div class="manager-modal-name" id="modalName">Имя</div>
                <div class="manager-modal-phone" id="modalPhone">+7 (000) 000-00-00</div>
                <button class="manager-modal-btn" id="modalCloseBtn">Закрыть</button>
            </div>
        </div>
    </div>
</div>